h1{
  font-size: 100px;
  text-align: center;
  font-family: sans-serif;
  color: white;

}
h3{
  font-size: 34px;
  text-align: center;
  font-family: sans-serif;
  color: black;

}
img{
  width: auto;
  height: auto;
  padding-left: 25px;

}
header{

  background-color: 006699;
}
body{

  background-color: WhiteSmoke;
}
#arrow{
  width: 450px;
  height: 230px;
  padding-bottom: 150px;

}
